# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment variables
.env
